#matchImg,
#matchSentence
  display: grid
  grid-template: auto / repeat(2, auto)
  grid-column-gap: 20px

  ul
    align-self: stretch
    display: flex
    flex-flow: column nowrap
    li
      flex: 1 0 auto
      width: 100%
      justify-self: center
      display: flex;
      justify-content: center
      flex-direction: column
      cursor: pointer
      color: white
      font-size: 1.4em
      opacity: 0.8
      &.selected
        opacity: 1
        img
          opacity: 1
      &.found
        opacity: 1
        color: $lightblue
        text-decoration: underline
        img
          opacity: 1
      &:hover
        opacity: 1
        img
          opacity: 1

    &:first-of-type
      grid-column: 1 / 2
      justify-self: end
      li
        padding: 10px 10px 10px 0
    &:nth-of-type(2)
      grid-column: 2 / 3
      justify-self: start
      li
        padding: 10px 0 10px 10px

#matchSentence
  ul:first-of-type
    li
      &.found
        text-decoration: none
  ul:last-of-type
    li
      font-family: $headingfont
      font-size: 2em

#matchImg
  li
    height: 100px
    line-height: 100px
    font-size: 2em
    align-self: center
    font-family: $headingfont
    img
      height: 100px
      width: auto
      opacity: 0.6