#wordsgame
  max-width: 100%

  div
    width: 100%
    margin: 0 auto

  .puzzleSquare 
    text-transform: uppercase
    background-color: white
    border: 0
    height: 25px
    width: calc(100% / 25)
    font: 18px sans-serif
    
  button::-moz-focus-inner 
    border: 0

  .selected 
    background-color: orange

  .found 
    background-color: blue
    color: white

  .solved 
    background-color: purple
    color: white

  .complete 
    background-color: green

#wordslist 
  list-style-type: none
  text-align: left
  -moz-column-count: 4
  -webkit-column-count: 4
  column-count: 4
  column-gap: 20px

  li 
    font: 1em sans-serif
    text-transform: uppercase

  .wordFound 
    text-decoration: line-through
    color: gray

  #controls 
    display: inline-block
    max-width: 30rem
    padding: 1em
    border: none
    text-align: left

  label 
    white-space: nowrap
    margin-top: 1em

  input 
    border: none
    border-bottom: 1px solid #ccc
    font-size: 1em

  input[type="number"] 
    width: 2rem

  select 
    max-width: 10rem

  #create-grid,
  #solve 
    display: block
    margin-top: 1rem

  #secret-word 
    text-transform: uppercase


  #result-message 
    font-size: 1.2em
