#wordsgame
  max-width: 100%
  div
    display: flex
    width: 100%
    margin: 0 auto

  .puzzleSquare
    flex: 1 1 auto
    text-transform: uppercase
    border: 0
    height: 20px
    width: calc(100% / 15)
    font: 16px $bodyfont
    background-color: transparent
    color: $darkblue
    padding: 0
    @media (min-width: 450px)
      width: calc(100% / 25)
      height: 25px
      font: 18px sans-serif
    
  button::-moz-focus-inner 
    border: 0

  .selected 
    background-color: white

  .found 
    background-color: $lightblue
    color: white

  .solved 
    background-color: purple
    color: white

  .complete 
    background-color: $orange

#wordslist 
  list-style-type: none
  text-align: left
  column-count: 3
  column-gap: 80px
  margin-top: 20px
  padding-left: 32px
  @media (min-width: 450px)
    column-count: 4
  li 
    font: 1.4em $bodyfont
    text-transform: lowercase
    margin: 5px 0
    position: relative
    &:before
      position: absolute
      left: -32px
      content: ''
      display: inline-block
      height: 16px
      width: 16px
      background-image: url('../img/starfish-darkblue.svg')
      background-size: contain
      background-repeat: no-repeat

  .wordFound 
    text-decoration: line-through
    color: $lightblue
    &:before
      background-image: url('../img/starfish-lightblue.svg')

  #create-grid,
  #solve 
    display: block
    margin-top: 1rem

  #secret-word 
    text-transform: uppercase

  #result-message 
    font-size: 1.2em
