// main.sass
@import reset

@import url('https://fonts.googleapis.com/css?family=Roboto|Pacifico')

// @VARS
$bodyfont: 'Roboto', sans-serif
$headingfont: 'Pacifico', cursive

$lightblue: #00ACA5
$darkblue: #282E5E
$orange: #E35014

// @GLOBAL
html,
body
	font-size: 10px
	color: $darkblue
	font-family: $bodyfont

body
	line-height: 1.4
	background-color: #FDC743
	background: linear-gradient(#8A4E72 0%, #ED6E44 5%, #FABA5C 10%, #FDC743)

main
	margin-bottom: 100px

.flow
	max-width: 650px
	box-sizing: border-box
	margin: 0 auto
	padding: 0 20px

h1, h2, h3, h4, h5, h6
	font-family: $headingfont
	margin: 40px 0 10px
	span
		display: block

h1, h2
	text-align: center

h1
	color: white
	font-size: 6em
	max-width: 650px
	margin: 40px auto 10px
	img
		width: 100%
		height: auto

h2
	font-size: 3.4em
	color: white

h3
	font-size: 2.6em

p
	font-size: 1.4em
	margin: 20px 0
p:first-of-type
	margin-top: 40px
p:last-of-type
	margin-bottom: 40px
p.instructions
	font-family: $headingfont
	font-size: 1.8em
	text-align: center
	margin: 10px 0 20px

section
	margin: 60px 0

label
	font-size: 1.4em

li
	font-size: 1.4em

.owl
	width: 120px
	height: auto

img.leaves
	position: fixed
	top: 0
	z-index: -200
	width: 15vw
	height: auto
	@media (min-width: 800px)
		width: 20vw
img#leavesLeft
	left: 0
img#leavesRight
	right: 0
	transform: scaleX(-1)
	filter: FlipH

header
	.flow
		max-width: 1200px
	.banner
		display: grid
		grid-template: auto / 160px auto
		margin-bottom: 40px
		#logo
			grid-column: 1 / 2
			justify-self: flex-start
			width: 160px
			height: 160px
		.social
			grid-column: 2 / 3
			justify-self: flex-end
			ul
				display: flex
			li
				flex: 0 1 auto
				margin: 20px 10px
			img
				height: 30px
				width: auto

section#uptoyou
	p
		text-align: center
		color: white
		margin: 10px 0 20px
		&.tagline
			font-family: $headingfont

.imgIllus
	display: flex
	img
		flex: 1 1 120px
	.contentIllus
		margin-left: 40px
		flex: 1 1 auto

@import matchgame
@import multichoice
@import wordpuzzle

#game1
	p.instructions
		color: $darkblue
#game2
	p.instructions
		color: $orange
#game3
	p.instructions
		color: $lightblue
#game4
	p.instructions
		color: $orange
#contest
	padding-bottom: 60px
	h2
		span
			text-align: center
			a
				border-bottom: 1px solid $lightblue
				color: $lightblue
	p.topline
		color: $lightblue
		font-family: $headingfont
.contestMsg
	border: 40px solid
	border-image-source: url("../img/smoke.svg")
	border-image-slice: 100 fill
	border-image-width: 6em
	border-image-outset: 4em 4em 10em
	margin: 80px 0
	color: $lightblue
	font-family: $headingfont
	font-size: 1.4em
#contestForm
	border: 40px solid
	border-image-source: url("../img/smoke.svg")
	border-image-slice: 100 fill
	border-image-width: 6em
	border-image-outset: 4em 4em 10em
	margin: 80px 0
	fieldset
		margin: 20px 0
	#submit
		margin: 0
		text-align: center
	#consent
		width: 80%
		margin: 20px auto
		input
			margin-right: 20px
			height: 80px
			float: left
			@media (min-width: 650px)
				height: 40px
		input > label
			display: none
	textarea
		max-width: 100%
		width: 100%
		min-height: 200px
		padding: 20px
		resize: vertical
		box-sizing: border-box
	input,
	textarea
		background-color: transparent
		border-radius: 5px
		border: 1px solid $darkblue
	input
		padding: 3px 20px
	input[type="submit"]
		color: white
		font-family: $headingfont
		font-size: 1.4em
		background-color: $lightblue
		border-radius: 10px
		cursor: pointer
		border: none
	#contactInfo
		input
			margin: 10px
			width: calc(100% / 2 - 22px)
			box-sizing: border-box
			&:last-of-type
				width: calc(100% - 22px)
			@media (min-width: 650px)
				width: calc(100% / 3 - 22px)
				&:last-of-type
					width: calc(100% / 3 - 22px)

#incoweb
	.flow
		cursor: pointer
	p.instructions
		color: $orange
	p
		text-align: center
		img
			max-width: 400px
			height: auto

#incoweb,
#topito
	img
		width: 100%
		height: auto
#competence,
#mission,
#whocanfile,
#DDD
	p.instructions
		color: $orange
	h3
		color: $lightblue
	.standalone > a
		color: $lightblue
		font-size: 1.4em
		border-bottom: 1px solid $lightblue
		font-family: $headingfont
	ul
		padding-left: 40px
		margin: 40px 0
		column-count: 2
		column-gap: 80px
		li
			font-size: 1.4em
			margin-bottom: 1.4em
			position: relative
			&:before
				position: absolute
				left: -32px
				content: ''
				display: inline-block
				height: 16px
				width: 16px
				background-image: url('../img/starfish-darkblue.svg')
				background-size: contain
				background-repeat: no-repeat

#extra .flow
	display: grid
	grid-template: auto auto / auto
	row-gap: 20px
#downloads,
#radio
	margin-top: 0
	h2
		margin-bottom: 40px
		img
			vertical-align: middle
			height: 40px
			width: auto
			margin-right: 10px

#downloads
	grid-row: 1 / 2
	ul
		padding-left: 1.4em
	li
		margin-bottom: 1.4em
		&:before
			content: ''
			display: inline-block
			height: 1.4em
			width: 1.4em
			background-image: url('../img/download.svg')
			background-size: contain
			background-repeat: no-repeat
			margin-right: 0.7em
		a
			color: $darkblue
			font-size: 1.4em

#radio
	grid-row: 2 / 3

@media (min-width: 800px)
	#extra .flow
		grid-template: auto / 50% 50%
		column-gap: 20px
	#downloads
		grid-row: 1 / 2
		grid-column: 1 / 2
	#radio
		grid-row: 1 / 2
		grid-column: 2 / 3

hr
	margin: 40px auto
	&.sep
		max-width: 800px
		border-top: 20px solid 
		border-image-source: url("../img/separator.svg")
		border-image-slice: 20 0 fill
		border-image-width: 10em
		border-image-outset: 2em
	&.sepalt
		margin: 40px auto 80px
		max-width: 250px
		border-top: 40px solid
		border-image-source: url("../img/separator-alt.svg")
		border-image-slice: 40 0 fill
		border-image-width: 10em
		border-image-outset: 2em

@media (min-width: 800px)
	hr
		&.sep
			border-top: 40px solid 
			border-image-slice: 40 0 fill

footer
	padding: 40px 0
	background-color: #E35014
	border-top: 1px solid 
	border-image: url("../img/footer.png") 100% 0 100% / auto / 78px stretch
	.grid
		display: grid
		grid-template: auto auto / auto
		grid-row-gap: 20px
		img#signature
			grid-row: 1 / 2
			width: 250px
			height: auto
		.links
			grid-row: 2 / 3
			ul.social
				display: flex
				li
					flex: 0 1 auto
					margin-right: 20px
					img
						height: 30px
						width: auto
			ul#links
				display: flex
				li
					flex: 0 1 auto
					font-size: unset
					padding-right: 10px
					margin-right: 10px
					border-right: 1px solid white
					color: white
					a
						color: white
				li:last-of-type
					border-color: transparent
	@media (min-width: 800px)
		.grid
			grid-template: auto / 250px auto
			grid-column-gap: 40px
			img#signature
				grid-column: 1 / 2
				grid-row: 1 / 2
			.links
				grid-column: 2 / 3
				grid-row: 1 / 2