section#competence
  .flow
    h2 Le Rôle du Défenseur des droits
    h3 Agir pour la protection des enfants
    
    p Chaque enfant a des droits fondamentaux en matière de soins, d'éducation, de justice, de protection sociale…Le Défenseur des droits défend ces droits et les fait connaître.

    p Les droits des enfants sont reconnus par la loi, et sont inscrits dans la #[a(href="http://www.diplomatie.gouv.fr/fr/IMG/pdf/Conv_Droit_Enfant.pdf", target="_blank") Convention internationale des Droits de l'Enfant] (CIDE)[1]. En France, le Défenseur des droits est l'organisation désignée par les Nations Unies pour veiller au respect de ces droits. Il s'assure du respect de « l'intérêt supérieur de l'enfant », c'est-à-dire que l'intérêt de l'enfant soit considéré comme primordial et prioritaire sur tout autre.

    p.footnote [1] Ce traité, adopté à l'unanimité par les Nations Unies en 1989, a été ratifié par la France.

    p.standalone
      a(href="http://www.ohchr.org/FR/ProfessionalInterest/Pages/CRC.aspx", target="_blank") Consultez les droits de l'enfant

    p Vous pouvez vous adresser au Défenseur des droits si vous estimez que les droits d'un enfant ne sont pas respectés ou qu'une situation met en cause son intérêt. Un enfant ou un adolescent peut contacter lui-même le Défenseur des droits.