section#contest
  .flow
    h2 Concours : Les petites histoires des grands droits
    p.topline Deviens la voix du prochain spot radio du Défenseur des droits !
    p Envoie-nous ta petite histoire des grands droits, une histoire que tu inventes sur les droits de l'enfant. Cela peut être drôle ou sérieux, l'important c'est de s'amuser en écrivant !
    p L'auteur de la meilleure histoire, envoyée avant le 31 août 2018, sera invité à Paris pour enregistrer le prochain spot radio du Défenseur des droits.
    p
      a(href="files/reglement.pdf" download) Télécharger le règlement du concours

    form#contestForm(method="POST" action="https://information.defenseurdesdroits.fr/petitehistoiregrandsdroits/concours/")
      fieldset#contactInfo
        input(type="text", placeholder="Prénom", name="firstname", required)
        input(type="text", placeholder="Nom", name="lastname", required)
        input(type="email", placeholder="Courriel", name="email", required)
        input(type="number", placeholder="Age", name="age", required)
      fieldset#consent
        input#formConsent(type="checkbox", name="consent", required)
        label(for="formConsent") Je certifie résider en France, être âgé·e de 5 à 15 ans et disposer de l'accord préalable de mes parents ou de la personne titulaire de l'autorité parentale
      fieldset
        textarea(placeholder="Ta petite histoire...", name="story", required)
      fieldset#submit
        input(type="submit", value="Envoyer")