section#contest
  h2 Retrouve la petite histoire des grands droits et tous les droits de l'enfant sur #[a(href="https://www.defenseurdesdroits.fr", target="_blank") www.defenseurdesdroits.fr].
  p Deviens la voix du prochain spot radio du Défenseur des droits !
  p Envoie-nous ta petite histoire des grands droits, une histoire que tu inventes sur les droits de l'enfant. Cela peut être drôle ou sérieux, l'important c'est de s'amuser en écrivant ! L'auteur de la meilleure histoire, envoyée avant le 31 août 2018, sera invité à Paris pour enregistrer le prochain spot radio du Défenseur des droits.

  form
    textarea