section#DDD
  .flow
    h2  Pour quels enfants le Défenseur des droits peut-il intervenir ?

    ul
      li Des enfants français et étrangers vivant en France
      li Des enfants français vivant à l'étranger
