section#downloads
  .flow
    ul
      li
        a(href="files/kit.zip" download) Kit à télécharger
      li
        a(href="files/depliant.pdf" download) Dépliant
      li
        a(href="files/affiche.pdf" download) Affiche