section#game1.game
  .flow
    h2 Les droits de l'enfant sont dessinés dans la colonne de droite.
      span A toi des les retrouver !
    p.instructions Clique sur le droit puis sur le dessin qui le représente.
    #matchImg