section#game4.game
  .flow
    h2 Oeil de lynx
    p.instructions Sauras-tu retrouver tous les mots de la liste ci-dessous dans la grille ?
      br
      | Attention à l'orthographe des mots !
      br
      | Une lettre peut servir plusieurs fois.
    #wordsgame
    #wordslist
      ul