section#incoweb
  .flow
    h2 Quiz Incollables !
    p.instructions Teste tes connaissances et découvre tes droits avec la version interactive des Incollables® sur les droits de l'enfant.
    p
      img(src="img/incollables.jpg", alt="Incollables")