section#incoweb
  .flow
    h2 Quiz Les Incollables®
    p.instructions Clique sur l'image ci-dessous pour tester tes connaissances et découvrir tes droits avec la version interactive du jeu Les Incollables® sur les droits de l'enfant.
    p
      img(src="img/incoweb.png", alt="Incollables")