section#knowit
  h2 Le sais-tu ?
  p Tu penses sûrement que, parce qu'ils sont petits, les enfants ont des petits droits ? Eh non ! Voyons cela ensemble...
  p Depuis 1989, les enfants sont officiellement reconnus comme des femmes et des hommes en devenir, avec des droits édictés rien que pour eux.
  h3 Pourquoi donc ?
  p Car, contrairement aux adultes, ils sont en train de grandir et en train de construire leur personnalité. Ils sont donc plus fragiles et en droit d'être particulièrement protégés pour s'épanouir !
  p Les droits de l'enfant, ce sont des règles qui concernent tous les enfants du monde, sans exception. Ces règles sont rassemblées dans la Convention internationales des droits de l'enfant, un texte adopté le 20 novembre 1989 par l'ONU, l'Organisation des Nations Unies.
  p Tous les pays du monde ont signé ce texte et ont promis de tout faire pour ques les lois de leur pays respectent les droits de l'enfants.