section#mission
  .flow
    h2  Quels sont les domaines d'intervention du Défenseur des droits ?

    p.instructions Le Défenseur des droits peut intervenir dans de nombreux domaines pour la protection des droits de l'enfant, et notamment en matière de :

    ul
      li protection de l'enfance
      li santé et handicap
      li justice pénale
      li adoption
      li scolarisation pour tous
      li mineurs étrangers
