section#owl
  .flow
    h2 Au fait, tu as surêment aperçu une chouette sur cette page... Sais-tu ce qu'elle représente ?
    .imgIllus
      img(src="img/owl.svg")
      .contentIllus
        p Dans l'Antiquitié, la chouette était considérée comme le symbole de la sagesse. Elle est immobile, silencieuse... Elle observe en restant calme, nais agit quand elle sent le danger approcher.
        p Respecter les autres, c'est ne pas leur faire de mail, faire preuve de bienveillance et reconnaître qu'ils ont les mêmes droits que toi. Adopter ce comportement, c'est faire preuve de sagesse.