section#uptoyou
  .flow
    h2.subtitle À toi de jouer !
    p Chaque enfant doit pouvoir s'épanouir.
      br
      | C'est même un droit !
      br
      | Tu dois te sentir protégé et grandir entouré d'amour.
      br
      | Les personnes autour de toi doivent te pousser à réaliser tous tes rêves.
      br
      | Les petits, comme les grands !
      br
      | Il faut que tu vives dans un environnement où tu te sens bien.
    p.tagline La petite histoire de tes grands droits va t'aider à comprendre comment.