section#whocanfile
  .flow
    h2 Qui peut saisir le Défenseur des droits ?
    ul
      li Un enfant ou un mineur de moins de 18 ans
      li Les membres de la famille de l'enfant ou ses représentants légaux
      li Les services médicaux ou sociaux
      li Une association dont les statuts défendent les droits de l'enfant[2]
      li Un parlementaire français ou un élu français du Parlement européen
      li Une institution étrangère qui a les mêmes fonctions que le Défenseur des droits

    p Le Défenseur des droits peut également se saisir d'office lorsqu'il estime que son intervention est nécessaire.

    p.footnote [2] Elle doit être régulièrement déclarée depuis au moins 5 ans à la date des faits.