footer
  .flow
    img#signature(src="img/signature.svg" alt="Defenseur des droits")
    .social
      ul
        li
          a(href="https://twitter.com/Defenseurdroits" target="_blank")
            img(src="img/twit.svg" alt="Suivez-nous sur Twitter")
        li
          a(href="https://facebook.com/DefenseurdesDroits" target="_blank")
            img(src="img/fab.svg" alt="Retrouvez-nous sur Facebook")
        li
          a(href="https://www.linkedin.com/company/le-d%C3%A9fenseur-des-droits/" target="_blank")
            img(src="img/lkd.svg" alt="Suivez-nous sur LinkedIn")