header
  h1 La petite histoire des grands droits
  p À toi de jouer !

  section
    p Chaque enfant doit pouvoir s'épanouir.
    p C'est même un droit !
    p Tu dois te sentir protégé et grandir entouré d'amour.
    p Les personnes autour de toi doivent te pousser à réaliser tous tes rêves. Les petits, comme les grands !
    p Il faut que tu vives dans un environnement où tu te sens bien.
    p La petite histoire de tes grands droits va t'aider à comprendre comment.