header
  .flow
    .banner
      img#logo(src="img/logo.svg")
      .social
        ul
          li
            a(href="https://twitter.com/intent/tweet?url=https%3A%2F%2Finformation.defenseurdesdroits.fr%2Fpetitehistoiregrandsdroits%2F&via=Defenseurdroits&related=Defenseurdroits%3AD%C3%A9fenseur%20des%20droits" target="_blank")
              img(src="img/twit.svg" alt="Partagez sur Twitter")
          li
            a(href="https://www.facebook.com/sharer.php?u=https://information.defenseurdesdroits.fr/petitehistoiregrandsdroits/" target="_blank")
              img(src="img/fab.svg" alt="Partagez sur Facebook")
          li
            a(href="https://www.linkedin.com/shareArticle?mini=true&url=https://information.defenseurdesdroits.fr/petitehistoiregrandsdroits/&title=Petite%20histoire%20des%20grands%20droits&source=Defenseur%20des%20droits" target="_blank")
              img(src="img/lkd.svg" alt="Partagez sur LinkedIn")

    h1 La petite histoire des grands droits
    p.subtitle À toi de jouer !

  section
    .flow
      p Chaque enfant doit pouvoir s'épanouir.
      p C'est même un droit !
      p Tu dois te sentir protégé et grandir entouré d'amour.
      p Les personnes autour de toi doivent te pousser à réaliser tous tes rêves. Les petits, comme les grands !
      p Il faut que tu vives dans un environnement où tu te sens bien.
      p La petite histoire de tes grands droits va t'aider à comprendre comment.