meta(charset="utf8")
if title
  title #{title}
else
  title Petite histoire des grands droits - Défenseur des Droits

include opengraph.pug

meta(name="viewport", content="width=device-width, initial-scale=1")

link(rel="stylesheet", href="/css/main.css")
link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.6/cookieconsent.min.css")

include gtm.html