doctype html
html
  head
    include head
  body
    include imgs
    include header
    include main
    include footer
    script(src="https://cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.6/cookieconsent.min.js")
    script(src="js/main.js")