main
  include inc/intro.pug

  include inc/games.pug

  include inc/knowit.pug

  include inc/contest.pug

  include inc/incoweb.pug

  include inc/topito.pug

  include inc/competence.pug

  include inc/mission.pug

  include inc/whocanfile.pug

  include inc/DDD.pug

  include inc/downloads.pug

  include inc/radio.pug