main
  include inc/games.pug

  include inc/knowit.pug

  include inc/contest.pug

  include inc/owl.pug

  include inc/incoweb.pug

  //- include inc/topito.pug

  hr.sepalt

  include inc/competence.pug

  include inc/mission.pug

  include inc/whocanfile.pug

  include inc/DDD.pug

  hr.sep

  #extra
    .flow
      include inc/downloads.pug
      include inc/radio.pug