meta(property="og:type", content="website")
meta(property="og:url", content="")
meta(property="og:title", content="Petite histoire des grands droits")
meta(property="og:description", content="")
meta(property="og:image", content="/img/social.jpg")
meta(property="og:image:alt", content="")
meta(property="og:locale", content="fr_FR")