meta(property="og:url" content="https://information.defenseurdesdroits.fr/petitehistoiregrandsdroits/")
meta(property="og:type" content="website")
meta(property="og:locale" content="fr_FR")
meta(property="og:title" content="La Petite histoire des grands droits | Défenseur des droits")
meta(property="og:description" content="Chaque enfant doit pouvoir s'épanouir. C'est même un droit ! Tu dois te sentir protégé et grandir entouré d'amour. Les personnes autour de toi doivent te pousser à réaliser tous tes rêves. Les petits, comme les grands ! Il faut que tu vives dans un environnement où tu te sens bien. La petite histoire de tes grands droits va t'aider à comprendre comment.")
meta(property="og:image" content="https://information.defenseurdesdroits.fr/petitehistoiregrandsdroits/img/social.png")
meta(property="twitter:card" content="summary_large_image")
meta(property="twitter:site" content="Defenseurdroits")