doctype html
html
  head
    title Les vraies histoires des grands droits - Défenseur des Droits
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="/css/vraieshistoires.css")
  body

    div#wrapper
      header
        h2
          img(src="img/vhgd.png" alt="La vraie histoire des grands droits")
        p Un enfant ou un jeune, jusqu'à ses 18 ans, est protégé par la Convention internationale des droits de l'enfant.
        p Ses droits doivent être connus et défendus. Dans toutes les décisions qui le concerne, l'intérêt supérieur de l'enfant doit être une considération primordiale. 
        p Découvre quelques situations vécues par des enfants et des jeunes qui ont fait valoir leur droits avec l'aide du Défenseur des droits.
      section#stories
        header
          ul
            li#yanis.stories__stories-item
              button.stories__stories-button
                img(src="img/yanis.svg").stories__stories-img
                p.stories__stories-text
                  span.stories__stories-name Yanis
                  | Droit à une vie familiale
            li#lisa.stories__stories-item
              button(disabled).stories__stories-button
                img(src="img/lisa.svg").stories__stories-img
                p.stories__stories-text
                  span.stories__stories-name Lisa
                  | Droit à la protection
            li#bastien.stories__stories-item
              button(disabled).stories__stories-button
                img(src="img/bastien.svg").stories__stories-img
                p.stories__stories-text
                  span.stories__stories-name Bastien
                  | Droit aux loisirs
            li#laura.stories__stories-item
              button(disabled).stories__stories-button
                img(src="img/laura.svg").stories__stories-img
                p.stories__stories-text
                  span.stories__stories-name Laura
                  | Droit à l'éducation
            li#zoe.stories__stories-item
              button(disabled).stories__stories-button
                img(src="img/zoe.svg").stories__stories-img
                p.stories__stories-text
                  span.stories__stories-name Zoé
                  | Droit à la santé
            li#ruben.stories__stories-item
              button(disabled).stories__stories-button
                img(src="img/ruben.svg").stories__stories-img
                p.stories__stories-text
                  span.stories__stories-name Ruben
                  | Droit à l'égalité
            li#gaelle.stories__stories-item
              button(disabled).stories__stories-button
                img(src="img/gaelle.svg").stories__stories-img
                p.stories__stories-text
                  span.stories__stories-name Gaëlle
                  | Liberté d'expression et d'opinion
        main

    script(src="js/vraieshistoires.js")