doctype html
html
  head
    meta(charset="utf8")
    title Les vraies histoires des grands droits - Défenseur des Droits
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="css/vraieshistoires.css")
  body

    div#wrapper
      header
        h2
          img(src="img/vhgd.png" alt="La vraie histoire des grands droits")
        p Un enfant ou un jeune, jusqu'à ses 18 ans, est protégé par la Convention internationale des droits de l'enfant.
        p Ses droits doivent être connus et défendus. Dans toutes les décisions qui le concerne, l'intérêt supérieur de l'enfant doit être une considération primordiale. 
        p Découvre quelques situations vécues par des enfants et des jeunes qui ont fait valoir leur droits avec l'aide du Défenseur des droits.
      div.starfishes
        img(src="img/2starfishes.svg")
      section#stories
        header
          ul
            li#bastien.stories__stories-item
              button(disabled data-release="531738800").stories__stories-button
                div.stories__stories-img
                  include inc/svg/bastien.svg
                p.stories__stories-text
                  span.stories__stories-name Bastien
                  | Droit aux loisirs
            li#yanis.stories__stories-item
              button(disabled data-release="532334600").stories__stories-button
                div.stories__stories-img
                  include inc/svg/yanis.svg
                p.stories__stories-text
                  span.stories__stories-name Yanis
                  | Droit à une vie familiale
            li#zoe.stories__stories-item
              button(disabled data-release="532962800").stories__stories-button
                div.stories__stories-img
                  include inc/svg/zoe.svg
                p.stories__stories-text
                  span.stories__stories-name Zoé
                  | Droit à la santé
            li#emma.stories__stories-item
              button(disabled data-release="533538800").stories__stories-button
                div.stories__stories-img
                  include inc/svg/emma.svg
                p.stories__stories-text
                  span.stories__stories-name Emma
                  | Droit à la protection
            li#ruben.stories__stories-item
              button(disabled data-release="534161600").stories__stories-button
                div.stories__stories-img
                  include inc/svg/ruben.svg
                p.stories__stories-text
                  span.stories__stories-name Ruben
                  | Droit à l'égalité
            li#laura.stories__stories-item
              button(disabled data-release="534753800").stories__stories-button
                div.stories__stories-img
                  include inc/svg/laura.svg
                p.stories__stories-text
                  span.stories__stories-name Laura
                  | Droit à l'éducation
            li#sofia.stories__stories-item
              button(disabled data-release="535371200").stories__stories-button
                div.stories__stories-img
                  include inc/svg/sofia.svg
                p.stories__stories-text
                  span.stories__stories-name Sofia
                  | Liberté d'expression et d'opinion
        main
          article#yanis-story.stories__story.hidden
            div.stories__story-testimony
              div.stories__story-testimony-img
                include inc/svg/yanis.svg
              div.stories__story-testimony-text
                h3 Yanis
                h4 J'ai le droit de voir ma mère et mon père...
                p « Moi c'est Yanis, mes parents divorcent... c'est comme ça. Je vais vivre avec ma mère. Mais quand elle m'a dit qu'on allait déménager à l'autre bout de la France, j'ai eu peur... Je sais bien qu'ils ne peuvent plus se voir tous les deux. Mais moi, j'ai toujours envie de voir mon père ! Le délégué du Défenseur des droits m'a un peu rassuré. J'ai pu en parler à la juge des affaires familiales aussi. Ils ont obligé mes parents à s'organiser pour que je puisse continuer à voir mon père. Maintenant, on a l'habitude : je passe mes vacances une fois chez l'un, une fois chez l'autre. Et ça ne se passe pas si mal que ça... » 
            div.stories__story-legal
              div.stories__story-legal-img
                img(src="img/owl.svg")
              div.stories__story-legal-text
                h3 Art. 9.3 de la Convention internationale des droits de l'enfant :
                p Les États parties respectent le droit de l'enfant séparé de ses deux parents ou de l'un d'eux d'entretenir régulièrement des relations personnelles et des contacts directs avec ses deux parents, sauf si cela est contraire à l'intérêt supérieur de l'enfant.
          article#zoe-story.stories__story.hidden
            div.stories__story-testimony
              div.stories__story-testimony-img
                include inc/svg/zoe.svg
              div.stories__story-testimony-text
                h3 Zoé
                h4 J'ai le droit d'être bien soignée...
                p « Je m'appelle Zoé, j'ai 7 ans. Mon papa est gendarme. Normalement on déménage souvent. Mais là, on a pu rester dans notre maison ! En fait je suis malade et je vais à l'hôpital deux jours par semaine. C'est un super hôpital, avec des docteurs et des infirmières très gentilles... C'est tellement bien qu'il n'y a que dans cet hôpital que l'on peut bien me soigner. Le Défenseur des droits a dit au travail de papa qu'il pouvait rester là et ne pas déménager... pour moi ! »
            div.stories__story-legal
              div.stories__story-legal-img
                img(src="img/owl.svg")
              div.stories__story-legal-text
                h3 Art. 3.1 de la Convention internationale des droits de l'enfant :
                p Dans toutes les décisions qui concernent les enfants (...) l'intérêt supérieur de l'enfant doit être une considération primordiale.
                h3 Art. 24 de la Convention internationale des droits de l'enfant :
                p Les États parties reconnaissent le droit de l'enfant de jouir du meilleur état de santé possible et de bénéficier de services médicaux et de rééducation. Ils s'efforcent de garantir qu'aucun enfant ne soit privé du droit d'avoir accès à ces services.
          article#bastien-story.stories__story.hidden
            div.stories__story-testimony
              div.stories__story-testimony-img
                include inc/svg/bastien.svg
              div.stories__story-testimony-text
                h3 Bastien
                h4 J'ai le droit de m'amuser...
                p « Moi c'est Bastien. J'ai 8 ans et j'adore le foot !  Au club, ils disaient que j'étais nul parce que je suis sourd. Et que je faisais perdre l'équipe. Du coup je n'ai pas eu ma licence cette année. Mes parents ont appelé le Défenseur des droits. Il a dit aux gens du club qu'ils ne respectaient pas la loi. On a fait des réunions avec les directeurs, les éducateurs, le délégué du Défenseur, papa, maman et moi. On a parlé de ce qu'on pourrait faire pour que je rejoue dans l'équipe. Et ils ont été d'accord pour ma licence. D'abord, je refais les entraînements. Et si ça se passe bien, je referai les matchs. Mais je sais déjà que ça va marcher... »
            div.stories__story-legal
              div.stories__story-legal-img
                img(src="img/owl.svg")
              div.stories__story-legal-text
                h3 Art. 31 de la Convention internationale des droits de l'enfant :
                p Les États parties reconnaissent à l'enfant le droit au repos et aux loisirs, de se livrer au jeu et à des activités récréatives propres à son âge, et de participer librement à la vie culturelle et artistique.
          article#emma-story.stories__story.hidden
            div.stories__story-testimony
              div.stories__story-testimony-img
                include inc/svg/emma.svg
              div.stories__story-testimony-text
                h3 Emma
                h4 J'ai le droit d'être en sécurité...
                p « Moi c'est Emma. Quand j'étais en CAP « employé de vente spécialisé », je me faisais insulter par des filles, elles me tapaient, elles me prenaient mes affaires... c'était du harcèlement. J'en ai parlé plusieurs fois à la CPE. Elle a fini par convoquer leurs parents, mais ça n'a rien changé. Alors on a appelé le numéro « non au harcèlement ». Après, on a été convoqués par le proviseur adjoint, je lui ai montré mes marques sur les bras. Je suis allée à l'hôpital plusieurs jours. Au bout d'un mois, j'ai eu des cours à domicile. 
                p Le Défenseur des droits a trouvé que le lycée avait mis trop de temps à réagir. Il leur a demandé d'être plus vigilants à l'avenir. Il leur a aussi demandé de sensibiliser les élèves sur la lutte contre le harcèlement, et à l'ensemble des droits de l'enfant. »
            div.stories__story-legal
              div.stories__story-legal-img
                img(src="img/owl.svg")
              div.stories__story-legal-text
                h3 Art. 19 de la Convention internationale des droits de l'enfant :
                p Les États parties prennent toutes les mesures législatives, administratives, sociales et éducatives appropriées pour protéger l'enfant contre toute forme de violence, d'atteinte ou de brutalités physiques ou mentales, d'abandon ou de négligence, de mauvais traitements ou d'exploitation, y compris la violence sexuelle (...).
          article#ruben-story.stories__story.hidden
            div.stories__story-testimony
              div.stories__story-testimony-img
                include inc/svg/ruben.svg
              div.stories__story-testimony-text
                h3 Ruben
                h4 J'ai le droit d'apprendre comme les autres...
                p « Moi c'est Ruben. Je suis rentré en 6#[sup e] en septembre avec Cathy, mon auxiliaire de vie scolaire. Elle m'accompagne parce que je suis malvoyant. Le problème c'est qu'elle est tombée malade en début d'année et qu'elle n'a pas été remplacée. Je ne pouvais plus aller en classe ! Ça a duré deux mois. Heureusement que j'avais mes parents et mes amis pour rattraper les cours ! On a fait appel au Défenseur des droits. Il a contacté l'académie et j'ai enfin eu une nouvelle AVS. C'était difficile, mais j'ai réussi à reprendre le programme... Et jà, je viens d'apprendre que je passais en 5#[sup e] ! »
            div.stories__story-legal
              div.stories__story-legal-img
                img(src="img/owl.svg")
              div.stories__story-legal-text
                h3 Art. 2.1 de la Convention internationale des droits de l'enfant :
                p Les Etats parties s'engagent à respecter les droits qui sont énoncés dans la présente Convention et à les garantir à tout enfant relevant de leur juridiction, sans distinction aucune, indépendamment de toute considération de race, de couleur, de sexe, de langue, de religion, d'opinion politique ou autre de l'enfant ou de ses parents ou représentants légaux, de leur origine nationale, ethnique ou sociale, de leur situation de fortune, de leur incapacité, de leur naissance ou de toute autre situation.
          article#laura-story.stories__story.hidden
            div.stories__story-testimony
              div.stories__story-testimony-img
                include inc/svg/laura.svg
              div.stories__story-testimony-text
                h3 Laura
                h4 J'ai le droit d'étudier... 
                p « Moi c'est Laura, j'ai 16 ans. Le lycée, ce n'était pas trop mon truc, j'étais du genre « agitée ». Je suis passée plusieurs fois en conseil de discipline et j'ai été exclue. Je ne faisais rien de mes journées. Forcément, ça fait réfléchir... J'avais besoin de ça pour avancer j'imagine. Alors j'ai voulu reprendre mes études et passer mon bac, mais personne ne voulait de moi. Ils disaient qu'à 16 ans, l'école ce n'était plus obligatoire. Sauf que là c'était moi qui voulais. J'ai fini par contacter le Défenseur des droits. Avec l'académie, ils m'ont trouvé un nouveau lycée. J'ai recommencé en septembre et c'est plutôt cool, ça se passe bien. Maintenant, je sais où je vais. C'est ça qui me motive. Et je compte bien continuer... »
            div.stories__story-legal
              div.stories__story-legal-img
                img(src="img/owl.svg")
              div.stories__story-legal-text
                h3 Art. 28 de la Convention internationale des droits de l'enfant :
                p Les États parties reconnaissent le droit de l'enfant à l'éducation, et en particulier (...) ils rendent l'enseignement primaire obligatoire et gratuit pour tous ; (...) ils encouragent l'organisation de différentes formes d'enseignement secondaire, tant général que professionnel, les rendent ouvertes et accessibles à tout enfant, et prennent des mesures appropriées, telles que l'instauration de la gratuité de l'enseignement et l'offre d'une aide financière en cas de besoin (...).
          article#sofia-story.stories__story.hidden
            div.stories__story-testimony
              div.stories__story-testimony-img
                include inc/svg/sofia.svg
              div.stories__story-testimony-text
                h3 Sofia
                h4 J'ai le droit d'écrire ce que je pense...
                p « Moi c'est Sofia. On a eu envie de faire un journal, avec des copains, comme dans les séries américaines ! Avec une partie actualités, des interviews de profs, les pages sportives du collège... c'était canon ! Le directeur relisait avant la parution, on avait même réussi à sortir deux numéros et ça marchait bien ! Et puis on nous a dit de tout arrêter. On n'a pas trop compris. On a demandé pourquoi mais ils ne nous ont rien dit. On a appelé le Défenseur des droits. On a fait une réunion avec la direction du collège et ils ont accepté de nous laisser continuer. »
            div.stories__story-legal
              div.stories__story-legal-img
                img(src="img/owl.svg")
              div.stories__story-legal-text
                h3 Art. 12 de la Convention internationale des droits de l'enfant :
                p Les États parties garantissent à l'enfant qui est capable de discernement le droit d'exprimer librement son opinion sur toute question l'intéressant, les opinions de l'enfant étant dûment prises en considération eu égard à son âge et à son degré de maturité (...) A cette fin, on donnera notamment à l'enfant la possibilité d'être entendu dans toute procédure judiciaire ou administrative l'intéressant (...).

      div.starfishes
        img(src="img/2starfishes.svg")

    script(src="js/vraieshistoires.js")